.image>img{
  position:relative;
  opacity:0.6;
}
.image>a{
  font-size: 24px;
  text-decoration: none;
  position:absolute;
  color:black;
  margin-top: 5px; margin-left: 600px;
  text-shadow: 2px 2px 2px gray;
}
h1{
  text-align:center;
  color:red;
}
a:hover{
  text-decoration:underline;
}
.fir{
  margin-left:16em;
  margin-right:16em;
}
h2{
  margin-left:11em;
}
.title{
  font-size:24px;
  margin-left:11em;
}
.fir>.imp
{
  color:red;
}
.fir>.col
{
  color:red;
}
.tip
{
  font-size:18px;
  margin-left:15em;
  line-height:150%;
}
